.footer-content {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  padding: 8px;
  width: 100%;
}
.angular-logo {
  flex: 1;
  display: flex;
  padding: 8px;
}
.personal-logo {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  font-size: small;
  font-weight: 100;
}
