<mat-toolbar class="mat-elevation-z2" color="primary">
  <!-- logo goes here -->
  <a mat-button routerLink="/"><fa-icon mat-button [icon]="faLogo" size="2x"></fa-icon></a>

  <!-- page routes -->
  <a mat-button routerLink="/about">About</a>
  <a mat-button routerLink="/blog">Blog</a>
  <a mat-button routerLink="/projects">Projects</a>
  <div class="spacer"></div>

  <!-- social media links -->
  <a mat-mini-fab class="icon" color="accent" href="https://twitter.com/Shelankel">
    <fa-icon mat-button [icon]="faTwitter"></fa-icon>
  </a>
  <a mat-mini-fab class="icon" color="accent" href="https://www.youtube.com/channel/UCNsH3_X-cqzdigynnJ3Q6sg">
    <fa-icon mat-button [icon]="faYoutube"></fa-icon>
  </a>
  <a mat-mini-fab class="icon" color="accent" href="https://www.linkedin.com/in/shelbyakelley/">
    <fa-icon mat-button [icon]="faLinkedIn"></fa-icon>
  </a>
</mat-toolbar>
